body {
    background-color: #fff;
    font-size: .7rem;
    font-family: 'Menlo', monospace;
    color: rgb(90, 90, 90);
    margin: 0;
}

.extension-title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 4px;
    align-self: center;
}

.extension-title-lighter {
    color: rgb(130, 130, 130);
}

/* For data formatting */
pre {
    font-family: 'Menlo', monospace;;
    color: rgb(90, 90, 90);
    margin: 0;
    font-size: .7rem;
    display: inline;
    white-space: pre-wrap;
}

/* .info-panel {
    min-height: 10vh;
} */

/* For the buttons */
.btn-panel {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    padding: .5rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.btn-group {
    display: flex;
    margin: 0 auto;
}
.btn-group input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.btn-group label {
    display: inline-block;
    background-color: white;
    padding: .2rem;
    padding-top: .25rem;
    border: .01rem rgb(228, 228, 228) solid;
    width: 3rem;
    text-align: center;
}

.btn-group input[type="radio"]:checked + label {
    background-color: rgb(187, 128, 182);
    border: .02rem rgb(187, 128, 182) solid;
    color: white;
}

.btn-group label:hover {
    background-color: #f5f2fa;
    cursor: pointer;
  }

.title {
    padding-left: .7rem;
    padding-top: .27rem;
    padding-bottom: .25rem;
    background-color: #f3f3f3;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    border-top: .05px rgb(225, 225, 225) solid;
    border-bottom: .05px solid rgb(225, 225, 225);
}

.container {
    /* padding-top: .4rem; */
    padding-bottom: .1rem;
    padding-left: 0;
    padding-right: 0;
}

.entry {
    border-top: .3px rgb(242, 242, 242) solid;
    padding-bottom: .1rem;
    padding-top: .3rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    transition: height 1s;
}

.ancestor-entry {
    padding-bottom: .1rem;
    padding-top: .3rem;
    padding-left: .2rem;
    padding-right: 0.8rem;
}

.entry:hover {
    background-color: #f9f6ff;
}

.attribute {
    color: rgb(136, 18, 128);
}

.ancestor {
    color: rgb(136, 18, 128);
}

.ancestor-attr {
    padding-left: .5rem;
    border-color: rgb(225, 225, 225);
    border-style: none none none solid;
    border-width: .5px;
    margin-left: .1rem;
}

.ancestor-attr-text{
    color: rgb(66, 180, 180);
}

.ancestry-container {
    border-top: .3px rgb(242, 242, 242) solid;
}

.arrow-left {
    transform: rotate(0deg);
    height: 8px;
    width: 8px;
    cursor: pointer;
}

.arrow-left.open {
    transform: rotate(90deg);
    height: 8px;
    width: 8px;
    padding-bottom: .7rem;
    padding-right: 0.3rem;
    cursor: pointer;
}

/* Highlight toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
    align-self: center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(172, 172, 172);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(252, 211, 3);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(252, 211, 3);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

#highlight-label {
    align-self: center;
    margin-right: 5px;
}